In [7]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import pandas as pd
import requests
import pandas as pd
import numpy as np
import pyodbc

In [8]:
Path = r"F:\\chromedriver_win32\\chromedriver.exe"

In [9]:
driver = webdriver.Chrome(Path)

<ipython-input-9-a7dd609c4272>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(Path)

In [10]:
url = 'https://www.imdb.com/search/title/?groups=top_250'
driver.get(url)

In [11]:
block = driver.find_elements_by_class_name('lister-item')
print(block)

<ipython-input-11-ac7dbd1ac05b>:1: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  block = driver.find_elements_by_class_name('lister-item')

AttributeError: 'list' object has no attribute 'text'

In [5]:
Info=[]
block = driver.find_elements_by_class_name('lister-item')

try:
    for i in range(0, 50):
        title = block[i].find_element_by_class_name('lister-item-header').text
        rank = block[i].find_element_by_class_name('lister-item-index').text
    #     year1= block[i].find_element_by_class_name('lister-item-year').text
     
        year = title[-6:].strip('()')
   
        
#         year=year.replace('(','')
#         year= year.replace()
   
#         print(year)
        rating = block[i].find_element_by_class_name('ratings-imdb-rating').text
        #print(rating)
        title = title.replace(rank + ' ', '')[:-7]
        rank=rank.replace('.','')
       
#         print(title)
        Info.append((rank, title, year, rating))
#         Info=[rank, title, year, rating]
#         print(Info)


except:
    "Fail"

<ipython-input-5-93c35ffc8e8c>:2: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  block = driver.find_elements_by_class_name('lister-item')
<ipython-input-5-93c35ffc8e8c>:5: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  title = block[i].find_element_by_class_name('lister-item-header').text
<ipython-input-5-93c35ffc8e8c>:6: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  rank = block[i].find_element_by_class_name('lister-item-index').text
<ipython-input-5-93c35ffc8e8c>:16: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  rating = block[i].find_element_by_class_name('ratings-imdb-rating').text

In [6]:
Info

[('1', 'Everything Everywhere All at Once', '2022', '8.8'),
 ('2', 'Spider-Man: No Way Home', '2021', '8.4'),
 ('3', 'The Godfather', '1972', '9.2'),
 ('4',
  'Pirates of the Caribbean: The Curse of the Black Pearl',
  '2003',
  '8.0'),
 ('5', 'Avengers: Endgame', '2019', '8.4'),
 ('6', 'The Shawshank Redemption', '1994', '9.3'),
 ('7', 'The Dark Knight', '2008', '9.0'),
 ('8', 'Forrest Gump', '1994', '8.8'),
 ('9', 'Avengers: Infinity War', '2018', '8.4'),
 ('10', 'The Wolf of Wall Street', '2013', '8.2'),
 ('11', 'Interstellar', '2014', '8.6'),
 ('12', 'Jurassic Park', '1993', '8.2'),
 ('13', 'Incendies', '2010', '8.3'),
 ('14', 'Requiem for a Dream', '2000', '8.3'),
 ('15', 'Joker (I)', '2019', '8.4'),
 ('16', 'Pulp Fiction', '1994', '8.9'),
 ('17', 'Inception', '2010', '8.8'),
 ('18', 'The Godfather: Part II', '1974', '9.0'),
 ('19', 'Star Wars', '1977', '8.6'),
 ('20', 'Fight Club', '1999', '8.8'),
 ('21', 'Saving Private Ryan', '1998', '8.6'),
 ('22', 'The Green Mile', '1999', '8.6'),
 ('23', 'Parasite', '2019', '8.5'),
 ('24', 'The Lord of the Rings: The Fellowship of the Ring', '2001', '8.8'),
 ('25', 'The Departed', '2006', '8.5'),
 ('26', 'Inglourious Basterds', '2009', '8.3'),
 ('27', 'Gone Girl', '2014', '8.1'),
 ('28', "Schindler's List", '1993', '9.0'),
 ('29', '1917', '2019', '8.2'),
 ('30', 'Goodfellas', '1990', '8.7'),
 ('31', 'The Shining', '1980', '8.4'),
 ('32', 'Seven', '1995', '8.6'),
 ('33', 'Heat', '1995', '8.3'),
 ('34', 'No Country for Old Men', '2007', '8.2'),
 ('35', 'Gladiator', '2000', '8.5'),
 ('36', 'Prisoners', '2013', '8.1'),
 ('37', 'Django Unchained', '2012', '8.4'),
 ('38', 'Good Will Hunting', '1997', '8.3'),
 ('39', 'Alien', '1979', '8.5'),
 ('40', 'Taxi Driver', '1976', '8.3'),
 ('41', 'Batman Begins', '2005', '8.2'),
 ('42', 'Terminator 2: Judgment Day', '1991', '8.6'),
 ('43', 'The Silence of the Lambs', '1991', '8.6'),
 ('44', 'Whiplash', '2014', '8.5'),
 ('45', 'Mad Max: Fury Road', '2015', '8.1'),
 ('46', 'Blade Runner', '1982', '8.1'),
 ('47', 'The Dark Knight Rises', '2012', '8.4'),
 ('48', 'Spider-Man: Into the Spider-Verse', '2018', '8.4'),
 ('49', 'Apocalypse Now', '1979', '8.5'),
 ('50', 'Leon', '1994', '8.5')]

In [1]:
scrap_data = np.asarray(Info)
len(scrap_data)

NameError: name 'np' is not defined

In [8]:
df = pd.DataFrame(scrap_data)

In [9]:
df.head()

   0                                                  1     2    3
0  1                  Everything Everywhere All at Once  2022  8.8
1  2                            Spider-Man: No Way Home  2021  8.4
2  3                                      The Godfather  1972  9.2
3  4  Pirates of the Caribbean: The Curse of the Bla...  2003  8.0
4  5                                  Avengers: Endgame  2019  8.4

In [10]:
df.columns =['rank', 'title', 'year', 'rating']

In [11]:
df.head()

  rank                                              title  year rating
0    1                  Everything Everywhere All at Once  2022    8.8
1    2                            Spider-Man: No Way Home  2021    8.4
2    3                                      The Godfather  1972    9.2
3    4  Pirates of the Caribbean: The Curse of the Bla...  2003    8.0
4    5                                  Avengers: Endgame  2019    8.4

In [12]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-NEEIVGK7\AYAN;'
                      'Database=webdata;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

In [13]:
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO webdata.dbo.webd(rank,title,year,rating)
                VALUES(?,?,?,?)
                ''',
                row.rank,
                row.title,
                row.year,
                row.rating
            
                          )
conn.commit()

#